<div class="h-full">
  <div class="container mx-auto pt-10 px-10 h-full">
    <div class="pb-5"></div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0 text-sm">
    <div class="grid grid-cols-3 bg-layover rounded-md px-4 py-4">
      <div class="col-span-3 row-span-2 pr-3">
        <b>Who is this app for?</b><br />
        This application is for anyone who would like to predict their thermal
        well-being based on their HRV (Heart Rate Variability).
        <br />
        <br />
        <b>What is HRV?</b><br />
        Heart rate variability (HRV) measures the fluctuation in the time
        intervals between adjacent heartbeats. This beat-to-beat interval (R-R
        interval) variation is measured in milliseconds and can vary depending
        on several factors. Being able to answer the question 'what is HRV?' can
        in fact provide important information about overall health.
        <br />
        <br />
        <b>How does this work?</b><br />
        How does this work? Our application works based on data gathered from a
        group of students who gathered data such as their thermal comfort, their
        HRV, and many more. With this data we have created an AI that has
        analysed the data and is able to predict the thermal comfort of someone.
        It does this by looking at the data you provide and compares that data
        with the data of the different students who have filled in their data.
        Our model works pretty good but is not perfect, therefore our
        predictions should be taken with a grain of salt. You are always free to
        do with your prediction as you please.
        <br />
        <br />
        <b>How is my data used?</b><br />
        This application uses your data to make a prediction on your thermal
        comfort level. This data is not stored.
      </div>
    </div>
  </div>
</div>
