<footer
  class="absolute w-full bottom-0 py-5 bg-gradient-to-r from-primary to-secondary border-t-2 border-gray-100"
>
  <div class="container mx-auto px-4">
    <!-- <hr class="mb-6 border-b-1 border-gray-700" /> -->
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4">
        <div class="text-sm text-white font-semibold py-1">
          Copyright © {{ date }}. Brains 4 Buildings. All Rights Reserved.
        </div>
      </div>
      <div class="w-full md:w-8/12 px-4">
        <ul class="flex flex-wrap list-none md:justify-end justify-center">
          <li>
            <a
              href="https://github.com/AvansETI"
              class="text-white hover:text-black text-sm font-semibold block py-1 px-3"
              >By AvansETI</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
