<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467053404987-156vra5qt9n9qvj79ijde5jkif3equdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467053404987-156vra5qt9n9qvj79ijde5jkif3equdr</string>
	<key>API_KEY</key>
	<string>AIzaSyCVjNos0fkit8cz4uEIWd2iZ2VbNOm4sBA</string>
	<key>GCM_SENDER_ID</key>
	<string>467053404987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nitantupasani.b4bhhsselfreporting</string>
	<key>PROJECT_ID</key>
	<string>apple-brains4buildings</string>
	<key>STORAGE_BUCKET</key>
	<string>apple-brains4buildings.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467053404987:ios:8ba93766a9227127fc4d1e</string>
</dict>
</plist>