<div
  class="text-danger"
  *ngIf="control && control.errors && (control.dirty || control.touched)"
>
  <div *ngIf="control.errors.required">
    <small>This field is required</small>
  </div>
  <div *ngIf="control.errors.unique">
    <small>{{ control.errors.unique }}</small>
  </div>
  <div *ngIf="control.errors.lessThen">
    <small>{{ control.errors.lessThen }}</small>
  </div>
  <div *ngIf="control.errors.greaterThan">
    <small>{{ control.errors.greaterThan }}</small>
  </div>
  <div *ngIf="control.errors.max">
    <small
      >Expected a value lower or equal to {{ control.errors.max.max }}</small
    >
  </div>
  <div *ngIf="control.errors.min">
    <small
      >Expected a value larger or equal to {{ control.errors.min.min }}</small
    >
  </div>
  <div *ngIf="control.errors.email">
    <small>{{ control.errors.email }}</small>
  </div>
  <div *ngIf="control.errors.mobile">
    <small>{{ control.errors.mobile }}</small>
  </div>
  <div *ngIf="control.errors.confirmPassword">
    <small>{{ control.errors.confirmPassword }}</small>
  </div>
</div>
