<!-- <section>
  <h1>W3hubs</h1>
</section> -->
<!-- <img src="../../../assets/Half-elipse-v2.svg" /> -->
<!-- <div class="container">
  <svg viewBox="0 0 500 500">
    <path
      d="M0, 100 C500, 250 250, 0 1000, 0 L0, 00 L0, 0 Z"
      style="stroke: none; fill: dodgerblue"
    ></path>
  </svg>
</div> -->
<div class="container mx-auto py-10 px-10 h-full">
  <div class="pb-8">
    <div
      class="text-4xl font-bold flex justify-center items-center text-quarternary"
    >
      Brains for Buildings (B4B)
    </div>
    <div
      class="text-sm font-bold flex justify-center items-center text-quarternary"
    >
      Predicting personal comfort level
    </div>
  </div>
  <div class="grid place-items-center grid-cols-1">
    <div class="pb-2"><img src="../../../assets/science.svg" /></div>
    <div class="pt-2 btn-wrapper text-center">
      <button
        class="mx-1 px-4 py-2 font-bold rounded-full text-neutral bg-primary_button hover:bg-indigo-700"
        routerLink="/predict"
      >
        Try it out!
      </button>
      <button
        class="mx-1 px-4 py-2 font-bold rounded-full text-neutral bg-primary_button hover:bg-indigo-700"
      >
        More info
      </button>
    </div>
  </div>
</div>
